@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');

* {
    // font-family: 'Bebas Neue', cursive;
    font-family: 'Lato', sans-serif; // 400, 700, 900
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


@import 'components/header';
@import 'components/home';
@import 'components/order';
@import 'components/tariffs';
@import 'components/about';
@import 'components/download';
@import 'components/blog';
@import 'components/contacts';
@import 'components/footer';
@import 'components/hamburger';
@import 'media';