.blog {
    background: url(../img/blog-bg.png) center (center/cover) no-repeat;
    &-row {
        margin-top: 105px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 85px;
    }
    &-col {
        width: 580px;
        height: 230px;
        background-color: #040707;
        border-radius: 43px;
        padding: 40px 65px 30px 55px;
    }
    &-text {
        color: #ffffff;
        font-size: 18px;
    }
    &-item {
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    &-man {
        margin-left: 25px;
    }
    &-name {
        color: #ffc61a;
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
    }
    &-descr {
        margin-top: 3px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
    }
}